<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html :: head"></head>
<body>
    <header>
        <nav th:insert="includes/nav.html :: nav"></nav>
    </header>

    <!-- Contenido Principal -->
    <main>
        <div class="container mt-3 mb-3">
            <h1 class="text-center">
                <span class="badge bg-dark">Crear Nueva Pregunta</span>
            </h1>

            <form th:action="@{/encuesta/edit/{ide}/add-pregunta (ide = ${idEncuesta})}" th:object="${pregunta}" method="post">
                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <label class="form-label">Descripción:</label>
                    <textarea class="form-control" th:field="*{description}" cols="10" rows="5"></textarea>
                </div>

                <div class="mb-3">
                    <select class="form-select" th:field="*{tipo}" aria-label="Default select example">
                        <option value="1">Cerrada</option>
                        <option value="2">Abierta</option>
                    </select>
                </div>

                <div class="opciones mb-3">
                    <div th:each="opcion, iterStat : *{opciones}" class="input-group mb-1">
                        <input type="hidden" th:field="*{opciones[__${iterStat.index}__].id}">
                        <span class="input-group-text">Opción #[[ ${iterStat.count} ]]</span>
                        <input type="text" class="form-control"
                            th:field="*{opciones[__${iterStat.index}__].respuesta}">
                    </div>

                    <div class="mb-1">
                        <select class="form-select" name="correcta" aria-label="Default select example">
                            <option value="1">Opción #1</option>
                            <option value="2">Opción #2</option>
                            <option value="3">Opción #3</option>
                            <option value="4">Opción #4</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex justify-content-center"><input type="submit" value="Agregar" class="btn btn-success"></div>
            </form>
        </div>
    </main>
    <!-- Fin - Contenido Principal -->
    
    <script th:src="@{/js/preguntas.js}"></script>
    <footer th:insert="includes/footer.html :: footer"></footer>
</body>
</html>