<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html :: head"></head>
<body>
    <header>
        <nav th:insert="includes/nav.html :: nav"></nav>
    </header>

    <!-- Contenido Principal -->
    <main class="m-3">
        <div class="container">
            <h1 class="text-center">
                <span class="badge bg-dark">Lista de Respuestas</span>
            </h1>

            <div class="d-flex justify-content-evenly">
                <div th:each="res : ${respuestas}" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 th:text="${res.encuesta.name}" class="card-title"></h5>
                        <p class="card-text">
                            <strong>Nombre:</strong> [[ ${res.nombre} ]]
                        </p>

                        <p class="card-text">
                            <strong>Email:</strong> [[ ${res.email} ]]
                        </p>
                        
                        <a th:href="@{/encuesta/respuestas/{idr} (idr = ${res.id})}" class="btn btn-primary">Ver Respuestas</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Fin - Contenido Principal -->
    
    <footer th:insert="includes/footer.html :: footer"></footer>
</body>
</html>