<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html :: head"></head>
<body>
    <header>
        <nav th:insert="includes/nav.html :: nav"></nav>
    </header>
    
    <!-- Contenido Principal -->
    <main>
        <div class="container mt-3 mb-3">
            <h1 class="text-center">
                <span class="badge bg-dark">Nueva Encuesta</span>
            </h1>

            <form th:action="@{/encuesta/save}" th:object="${encuesta}" method="post">
                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <label class="form-label" for="name">Nombre de la Encuesta</label>
                    <input type="text" class="form-control" th:field="*{name}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="">Descripción</label>
                    <textarea class="form-control" th:field="*{description}" cols="30" rows="10"></textarea>
                </div>

                <div class="d-flex justify-content-center">
                    <input class="btn btn-success" type="submit" value="Crear Encuesta">
                </div>
            </form>
        </div>
    </main>
    <!-- Fin - Contenido Principal -->

    <footer th:insert="includes/footer.html :: footer"></footer>
</body>
</html>